<!doctype html>
<html lang="en">
<head>
    <title>Mark Eric Fairweather</title>

    {% load static%}
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{%  static 'img/apple-icon.png' %}">
	<link rel="icon" type="image/png" href="{%  static 'img/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />


	<!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/material-kit.css' %}" rel="stylesheet"/>


</head>

<body>

<!-- Navbar will come here -->

<!-- end navbar -->

<div class="wrapper">
	<div class="header">
		    <div class="slideshow">
        <nav class="navbar navbar-transparent navbar-absolute">
        	<div class="container">
            	<!-- Brand and toggle get grouped for better mobile display -->
            	<div class="navbar-header">
            		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                		<span class="sr-only">Toggle navigation</span>
    		            <span class="icon-bar" href = "home/"></span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
            		</button>

				</div>
			</div>


            	<div class="collapse navbar-collapse" id="navigation-example">
					<ul class = "nav navbar-nav navbar-left">

						<li><a href="home/"><img src="{%  static 'img/my_images/photo5906941416829991445.jpg'%}" alt="Logo" width="90"></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						</li>

					</ul>

					<ul class = "nav navbar-nav ">
						<li> <h2>Meet Fairweather</h2> </li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="home/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/profile">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="/projects">
                                Projects
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Experience

                            </a>
                        </li>
						<li>
							<a href="/login" class="btn btn-warning pull-right">Log In </a>
						</li>
                    </ul>
            	</div>
        	</div>
        </nav>

		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<div class="carousel slide" data-ride="carousel">

				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="page-header header-filter" style="background-image: url({% static 'img/my_images/Iviah Packaging.PNG'%}); opacity: 1;">

							<div class="container">
								<div class="row">
									<div class="col-md-6 text-left">
										<h1 class="title">Create</h1>
										<h4 style="font-size: 20px;"> Giving my solutions lives of their own for collaborative enrichment.</h4>
										<br />

										<div class="buttons">
											<a href="presentation.html" class="btn btn-warning btn-lg">
												Read More
											</a>
											<a href="http://iviahenergy.weeblysite.com/" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-briefcase"></i>
											</a>
											<a href="http://eduzukaco.wixsite.com/" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-book"></i>
											</a>
											<a href="https://github.com/Fairweather13024/" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-code"></i>
											</a>
										</div>

									</div>
								</div>
							</div>
				        </div>

					</div>
					<div class="item">
						<div class="page-header header-filter" style="background-image: url({% static 'img/my_images/photo5945243613053170721.jpg'%})">

							<div class="container">
								<div class="row">
									<div class="col-md-8 col-md-offset-2 text-center">
										<h1 class="title"> Disrupt </h1>
										<h4> Solving the problems that you care about.</h4>
										<br />
										<h6>Connect with me on:</h6>
										<div class="buttons">
											<a href="https://twitter.com/MarkEricFairwe1" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-twitter"></i>
											</a>
											<a href="https://www.facebook.com/ricky.fairweather.3" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-facebook-square"></i>
											</a>

											<a href="https://www.instagram.com/fairweather_official/" class="btn btn-just-icon btn-white btn-simple btn-lg">
												<i class="fa fa-instagram"></i>
											</a>
										</div>
									</div>
								</div>
							</div>

				        </div>

					</div>

					<div class="item">
						<div class="page-header header-filter" style="background-image: url({% static 'img/my_images/20160605_120738.jpg'%});">

							<div class="container">
								<div class="row">
									<div class="col-md-7 col-md-offset-5 text-right">
										<h1 class="title">Inspire</h1>
										<h4> Paying it forward for the beauty of life itself.</h4>
										<br />

										<div class="buttons">
											<a href="https://www.linkedin.com/" class="btn btn-white btn-simple btn-lg">
												<i class="material-icons">share</i> Share My Page?
											</a>

										</div>

									</div>
								</div>
							</div>

				        </div>

					</div>

				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<i class="material-icons">keyboard_arrow_left</i>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<i class="material-icons">keyboard_arrow_right</i>
				</a>
			</div>
		</div>

    </div>

	</div>

	<div class="main">
		<div class="container">
			<div class="cd-section" id="features">

	<div class="container">

		<!--     *********     FEATURES 1      *********      -->

	    <div class="features-1">
			<div class="row">
				<h5 class="col-md-12 col-md-offset-2">
					<h2 class="title" align="center"> Why I Care</h2>

					<h4 class="description"> My passion is to contribute to the enrichment and empowerment of people's lives. </h4>
					<h5> I seek to avail freedom to people so that they can unlock their inherent potential and enjoy this short opportunity to grace the earth with their presence.
					In my professional endeavours, I have been privileged to execute my purpose in corporate roles where I have helped people to grow their finances, enrich their educational experiences, and restore the dignity in using affordable and renewable energy.</h5>

				</div>
			</div>

			<div class="row">
				<div class="col-md-4" align = "center">
					<div class="info">
						<div class="icon icon-info">
							<i class="material-icons">addchart</i>
						</div>
						<h4 class="info-title"> Info</h4>
						<p> Using thorough research, data analysis and iterative experimentation to drive decisions and solutions.</p>
					</div>
				</div>

				<div class="col-md-4" align = "center">
					<div class="info">
						<div class="icon icon-success">
							<i class="material-icons">mediation</i>
						</div>
						<h4 class="info-title">Lifelong Learning</h4>
						<p> Collecting, synthesizing and sharing wisdom as it compounds.</p>
					</div>
				</div>

				<div class="col-md-4" align = "center">
					<div class="info">
						<div class="icon icon-danger">
							<i class="material-icons">people</i>
						</div>
						<h4 class="info-title">Empathy</h4>
						<p> Letting the user drive the solution process for authenticity and sustainability.</p>
					</div>
				</div>
			</div>

	    </div>

		<!--     *********    END FEATURES 1      *********      -->



		<!--     *********     FEATURES 3      *********      -->

	    <div class="features-3">
			<div class="row">
				<div class="col-md-6">
					<div class="phone-container" style="margin-top: 150px; width: 200%">
						<img src="{% static 'img/my_images/pexels-thisisengineering-3913025.jpg'%}">
					</div>
				</div>
				<div class="col-md-6">

					<br><br>
					<!-- Some <br /> tags to push the text to align with the image, you can remove it if you have more text on the right side :-) -->

					<h2 class="title">How Do I Do What I Do</h2>

		        	<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">extension</i>
						</div>
						<div class="description">
							<h4 class="info-title"> Iterative Synthesis</h4>
							<p> Start now, learn everything, do what it takes, get the job done... Everytime. </p>
						</div>
		        	</div>

					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">child_friendly</i>
						</div>
						<div class="description">
							<h4 class="info-title">Easy to Use</h4>
							<p> Building simple and accessible solutions for inclusivity and diversity of perspective.</p>
						</div>
					</div>

					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">watch_later</i>
						</div>
						<div class="description">
							<h4 class="info-title">Fast Prototyping</h4>
							<p> Transforming time into an asset, not a constraint.</p>
						</div>
					</div>
				</div>
			</div>

	    </div>

		<!--     *********    END FEATURES 3      *********      -->


		<!--     *********     FEATURES 4      *********      -->

	    <div class="features-4">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">What Do I Do?</h2>
					<h5 class="description"> I develop software, build teams, spearhead business solutions, and create systems that deliver.</h5>
				</div>
			</div>

			<div class="row">

				<div class="col-md-3 col-md-offset-1">
		           	<div class="info info-horizontal">
						<div class="icon icon-info">
							<i class="material-icons">code</i>
						</div>
						<div class="description">
							<h4 class="info-title">Software Developer</h4>
							<p> Full stack developer with AI, and a knack for Data Science. I love automating business and data streams to maximize efficiency.</p>
						</div>
		        	</div>

					<div class="info info-horizontal">
						<div class="icon icon-danger">
							<i class="material-icons">grading</i>
						</div>
						<div class="description">
							<h4 class="info-title">Academics</h4>
							<p> Studious Computer Science and Artificial Intelligence student. I contribute to yearly civic projects for growth and synthesis.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="phone-container" style="margin-top: 200px">
						<img src="{% static 'img/my_images/jj-ying-8bghKxNU1j0-unsplash.jpg' %}">
					</div>
				</div>

				<div class="col-md-3">
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">dashboard</i>
						</div>
						<div class="description">
							<h4 class="info-title">Experience</h4>
							<p> Interned as a banker, mentor, application developer and a sales person who operates my own startups.</p>
						</div>
					</div>

					<div class="info info-horizontal">
						<div class="icon icon-success">
							<i class="material-icons">view_carousel</i>
						</div>
						<div class="description">
							<h4 class="info-title">Teams</h4>
							<p> Part of NSBE, Color Stack, MasterCard Scholars, AKAD Education Africa and Product Schools.</p>
						</div>
					</div>
				</div>
			</div>

	    </div>

		<!--     *********    END FEATURES 4      *********      -->

	</div>


	</div>

	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main">
		<div class="container">

			<div class="features-5" style="background-image: url({% static 'img/bg9.jpg' %})">

				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">My Skillsets</h2>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">code</i>
								</div>
								<h4 class="info-title">Software Development</h4>
								<p>Creating powerful software applications with Artificial Intelligence. </p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">format_paint</i>
								</div>
								<h4 class="info-title">Design</h4>
								<p> Artistic background with the advantage of academic design knowledge. </p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">work</i>
								</div>
								<h4 class="info-title"> Entrepreneurship</h4>
								<p> Creator of two small companies. Enriching lives with products and services. </p>
							</div>
						</div>

					</div>

					<div class="row">

						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">view_carousel</i>
								</div>
								<h4 class="info-title"> Marketing </h4>
								<p> Closing sales for myself and other companies like second nature. </p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">dashboard</i>
								</div>
								<h4 class="info-title">Teaching</h4>
								<p> Teaching and learning with the Hersey Blanchard Leadership Model. </p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">accessibility</i>
								</div>
								<h4 class="info-title">Customer Service</h4>
								<p> Ensuring that interactions are an experience, not just an encounter. </p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
		<div class="header-2">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>

					</div>

					<div class="collapse navbar-collapse" id="navigation-example">

						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="home/">
									<i class="fa fa-home"></i>
								</a>
							</li>
							<li>
								<a href="profile/">
									<i class="fa fa-user"></i>
								</a>
							</li>
							<li>
								<a href="projects">
									<i class="fa fa-tasks"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>


			<div class="page-header header-filter" style="background-image: url({% static 'img/examples/office2.jpg' %});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="title"> Contact Me!</h1>
							<h4>Now that you have a general idea of who I am, let us discuss, ideate and create!.</h4>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<div class="card card-raised card-form-horizontal">
								<div class="card-content">
									<form method="" action="">
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<input type="text" value="" placeholder="Name" class="form-control" />
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input type="email" value="" placeholder="Email" class="form-control" />
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input type="password" value="" placeholder="Company Name" class="form-control" />
												</div>
											</div>
											<div class="col-md-3">
												<a href="#Pablo" <button type="button" class="btn btn-primary btn-block"> Send </button> </a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


</body>
	<!--   Core JS Files   -->
	<script src="{% static  'js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static  'js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static  'js/material.min.js' %}"></script>

	<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
	<script src="{% static  'js/moment.min.js' %}"></script>

	<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
	<script src="{% static  'js/nouislider.min.js' %}" type="text/javascript"></script>

	<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
	<script src="{% static  'js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
	<script src="{% static  'js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
	<script src="{% static  'js/bootstrap-tagsinput.js' %}"></script>

	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
	<script src="{% static  'js/jasny-bootstrap.min.js' %}"></script>

	<!--    Plugin For Google Maps   -->
	<script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>




	<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
	<script src="{% static  'js/material-kit.js' %}" type="text/javascript"></script>

</html>
