<!doctype html>
<html lang="en">
<head>
    <title>Projects @ Mark</title>
    {% load static%}
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{%  static 'img/my_images/photo5906941416829991445.jpg'%}">
	<link rel="icon" type="image/png" href="{%  static 'img/my_images/photo5906941416829991445.jpg'%}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />


	<!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/material-kit.css' %}" rel="stylesheet"/>
</head>

<body class="blog-post">

	<div class="header">
		    <div class="slideshow">
        <nav class="navbar navbar-transparent navbar-absolute">
        	<div class="container">
            	<!-- Brand and toggle get grouped for better mobile display -->
            	<div class="navbar-header">
            		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                		<span class="sr-only">Toggle navigation</span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
            		</button>

				</div>
			</div>


            	<div class="collapse navbar-collapse" id="navigation-example">
					<ul class = "nav navbar-nav navbar-left"

						<li><a href="/home"><img src="{%  static 'img/my_images/photo5906941416829991445.jpg'%}" alt="Logo" class = "logo-container img-circle img-raised" width="90"></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						</li>

					</ul>

					<ul class = "nav navbar-nav "
						<li> <h2 id = "Meet_Fairweather" style = 'font-weight: 800; font-family: "Roboto Slab", "Times New Roman", serif;'> Meet Fairweather</h2> </li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/profile">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="/projects">
                                Projects
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Experience

                            </a>
                        </li>
						<li>
							<a href="/login" class="btn btn-warning pull-right">Log In </a>
						</li>
                    </ul>
            	</div>
        	</div>
        </nav>


	<div class="page-header header-filter" data-parallax="true" style="background-image: url({% static 'img/bg0.jpg'%});">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h1 class="title">Building Products That Transform Lifestyles</h1>
					<h4>I have focused on web applications, data structures and algorithms that optimize for certain tasks, AI models, and automation.</h4>
					<br />
					<a href="https://github.com/Fairweather13024" class="btn btn-rose btn-round btn-lg">
						<i class="material-icons">format_align_left</i> GitHub
					</a>
				</div>
			</div>
		</div>
	</div>


<!-- My Project 3 SLides -->

<div class="container">
<div class="row">

    <div class="section">
		<div class="container">
			<div class="row">


				<div class="col-md-12">
                    <div class = "card">
					<h2 class="title text-center">My Projects</h2>
                    <h3 class="category text-info text-center">Web</h3>
					<br />
					<div class="row">
						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/my_images/IMG-20200904-WA0007.jpg' %}"/>
									</a>
								</div>

								<div class="card-content">
									<h6 class="category text-info">
                                        Ed-tech Startup
                                    </h6>
									<h4 class="card-title">
										<a href="#pablo">Eduzuka Education Web App</a>
									</h4>
									<p class="card-description">
                                        Educational web application that uses MVT architecture, Django backend and React front end.<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p1"> Read More </a>									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/my_images/jpmorgan-chase.svg'%}" />
									</a>
								</div>
								<div class="card-content">
									<h6 class="category text-success">
										Virtual Internship
									</h6>
									<h4 class="card-title">
										<a href="#pablo">JP Morgan Virtual Internship</a>
									</h4>
									<p class="card-description">
										Stock analysis site made using Django, React and TypeScript.<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p2"> Read More </a>
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/examples/blog7.jpg' %}" />
									</a>
								</div>

								<div class="card-content">
									<h6 class="category text-danger">
										<i class="material-icons">trending_up</i>
                                        Personal Site
									</h6>
									<h4 class="card-title">
										<a href="#pablo">This Website</a>
									</h4>
									<p class="card-description">
										Funneling all my services and demos into one location. Implemented using Django, Material and JavaScript. Check out the interactive UI, audience driven design, the secure setup and teh intuitive operations that I have integrated to put my personal website above bar!<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p3"> Read More </a>
									</p>
								</div>
							</div>
						</div>


					</div>


				</div>

			</div>
		</div>
	</div>
    <div class="section">
		<div class="container">
			<div class="row">


				<div class="col-md-12">
                    <div class = "card">
					<h2 class="title text-center"></h2>
                    <h3 class="category text-info text-center">Artificial Intelligence</h3>

					<div class="row">
						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/my_images/neural.svg' %}" />
									</a>
								</div>

								<div class="card-content">
									<h6 class="category text-info">
                                        Deep Neural Networks
                                    </h6>
									<h4 class="card-title">
										<a href="https://github.com/Fairweather13024/Machine-Learning-Projects/blob/master/Deep%20Learning%20Image%20Classifier">Image Classifier</a>
									</h4>
									<p class="card-description">
                                        Object oriented implementation of an image classifier using a convolutional neural network.<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p4"> Read More </a>									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/my_images/nlp.jfif' %}" />
									</a>
								</div>
								<div class="card-content">
									<h6 class="category text-success">
										Natural Language Processing
									</h6>
									<h4 class="card-title">
										<a href="https://github.com/Fairweather13024/Machine-Learning-Projects/blob/master/Natural_Language_Processing.py">NLP For NIPS Papers</a>
									</h4>
									<p class="card-description">
										Latent Dirichlet Allocation analysis of AI trends over decades.<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p5"> Read More </a>
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/my_images/regression.png'%}" />
									</a>
								</div>

								<div class="card-content">
									<h6 class="category text-danger">
										<i class="material-icons"></i>
                                        Multiple Regression
									</h6>
									<h4 class="card-title">
										<a href="https://github.com/Fairweather13024/Admiral/blob/master/Multiple%20linear%20regression.ipynb">House Price Prediction</a>
									</h4>
									<p class="card-description">
										Multiple regression model analysis of house prices in Washington state.<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p6"> Read More </a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="section">
		<div class="container">
			<div class="row">


				<div class="col-md-12">
                    <div class = "card">
					<h2 class="title text-center"></h2>
                    <h3 class="category text-info text-center">Functional Programming/ Data Structures</h3>
					<br />
					<div class="row">
						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/my_images/branded-widget.png' %}" />
									</a>
								</div>

								<div class="card-content">
									<h6 class="category text-info">
                                        Functional Bot
                                    </h6>
									<h4 class="card-title">
										<a href="https://github.com/Fairweather13024/Auto-Complete-Bot/blob/main/Fairweather's%20CS110_A3_Tries.py">Autocomplete Bot</a>
									</h4>
									<p class="card-description">
                                        Object Oriented autocomplete bot using tries.<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p7"> Read More </a>									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/my_images/task.PNG' %}" />
									</a>
								</div>
								<div class="card-content">
									<h6 class="category text-success">
										Functional Scheduler
									</h6>
									<h4 class="card-title">
										<a href="https://github.com/Fairweather13024/Task-Scheduler">Task Scheduler</a>
									</h4>
									<p class="card-description">
										Object Oriented task scheduler using priority queues.<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p8"> Read More </a>
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-image">
									<a href="#pablo">
										<img class="img img-raised" src="{% static 'img/my_images/Travelling_salesman_problem_solved_with_simulated_annealing.gif' %}" />
									</a>
								</div>

								<div class="card-content">
									<h6 class="category text-danger">
										<i class="material-icons"></i>
                                        Path Finding
									</h6>
									<h4 class="card-title">
										<a href="#pablo">Simulated Annealing Path Finding</a>
									</h4>
									<p class="card-description">
										Path finding algorithm with a greedy simulated annealing approach.<a style = "cursor: grab"data-toggle="modal" data-target="#Modals_p9"> Read More </a>
									</p>
								</div>
							</div>
						</div>


					</div>


				</div>

			</div>
		</div>
	</div>
</div>



<!-- End of my project 3 slides -->

<!-- Project 3 modals -->
    <div class="modal fade" id="Modals_p1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Guide</h4>
			</div>
			<div class="modal-body">
                    <p ●[Context] — I am scaling my online learning business from outsourced web service providers to design a scalable solution that can serve as many people as possible. During COVID summer lockdown, I beta tested a product to compress currently fragmented supplementary educational services that traditional universities do not provide.
                       <br>
                       ●Purpose — Eduzuka Education aims to democratize education through synthesizing supplementary educational services into a single platform.
                        <br>
                        ●Tech Stacks Included — This web application’s design uses Django, HTML5, CSS3, and JavaScript. The system architecture uses a micro-services model for the ease of scalability of different components.
                       <br>
                        ●Current Implementation — Stage 1 is about 20% complete. Currently, any user who joins Eduzuka can post their content in a blog-post style which is handled by the backend. I have also implemented the authorization and authentication processes to allow subscriptions.
                    </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



    <div class="modal fade" id="Modals_p2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Guide</h4>
			</div>
			<div class="modal-body">
                <p>●[Context] — This is a stock analyst internship experience in four-stages hosted by InsideSherpa.I was accepted into the internship program this fall and have been completing it simultaneously with my university studies.
                    <br>
                    ●Purpose — To render stock analysis data with valuable informatics using J.P. Morgan’s Perspective and to implement test-driven development practices.
                    <br>
                    ●Tech Stacks Included — Throughout this internship, I have employed Django, React, HTML5, CSS3, and TypeScript to build the informatics tools.
                    <br>
                    ●Current Implementation — Completed.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


   <div class="modal fade" id="Modals_p3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Peek</h4>
			</div>
			<div class="modal-body">
                <p>● [Context] I wanted a website where people could demo my work, see which features I can implement, comment on it and also interact with all my products in a centralized location.</p>

                <p>● Current features - Styling with CSS and Javascript, secure log in with email authentication, admin setup, and mobile optimization.</p>

                <p>● Tech Stack - Django, React, HTML5, CSS3 and Material UI. The in-card collection of parameters for the AI algorithms is executed by the APIs on the backend and rendered back to the views/templates for user interaction</p>

                <p>● Upcoming additions - Token authentication for logins, Google Assistant bot and in-modal testing of the algorithms.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


    <div class="modal fade" id="Modals_p4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Interact</h4>
			</div>
			<div class="modal-body">
                <p>● Guide — I used this project to learn about neural networks as part of my coursework on deeplearning.ai’s course.
                    <br>
                    ● Purpose — To learn how to use convergent neural networks to reliably classify images and deploy this as a model in software.
                    <br>
                    ●Tech Stacks Included — This project used matplotlib and numpy.
                    <br>
                    ●Current Implementation Guide — The project is fully completed. This implementation uses helper functions instead of libraries for my own mastery and also to optimize the storage space of unnecessary data.
                    <br>
                    ●Points to note:
●I propose an object-oriented implementation so that we can instantiate this for every user
                    <br>
●I use N-layers in order to enhance the accuracy by tweaking the sensitivity to changes of each neuron in each layer
                    <br>
●I use several batches in order to recycle the training data, avoid overfitting, and to provide a wider array from which it can be trained; therefore, my initial implementation used four batches
<br>
                    ●I implement unit tests outside every function in order to guarantee that the shape of the matrices corresponds; therefore the data is being trained correctly
<br>
                    ●How to use: Since the model is already trained, users can input their image to be classified using the predict() function. The inputs are the image, the true class of your image in binary, and parameters. The output will be the accuracy that the model predicted your image with compare to your classification of the image and the class that your image is predicted to be in (for example, cat or non-cat).
</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


    <div class="modal fade" id="Modals_p5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Guide</h4>
			</div>
			<div class="modal-body">
                <p>● As part of my exploration of NLP for marketing purposes, I completed a natural language processing algorithm with Latent Dirichlet Allocation.</p>
<br>
                <p>● Implemented using a data cleaning pipeline, scikit's predictor methods and dataviz with word cloud.</p>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


    <div class="modal fade" id="Modals_p6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Impact</h4>
			</div>
			<div class="modal-body">
                <p>● Multiple regression model for house price prediction in Washington State using statsmodels, seaborn and pandas.</p>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="Modals_p7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Guide</h4>
			</div>
			<div class="modal-body">
                    <p ●[Context] — For a recent university assignment, I was tasked with creating an autocomplete bot that implements the trie data structure, unit testing, and sentiment analysis.
<br>
                       ●Purpose — To gain practice implementing the trie data structure and object-oriented programming
<br>
                        ● Discussion — The time complexity of training the bot is O(n log(n)) where the sorting algorithm (Timsort) is called twice in the sentiment analysis portion creating an upper bound. However, building the trie has a time complexity of O(mk) where m is the number of words to be trained and the k is the average length of each string passed.
<br>
                        ●The time complexity of searching is O(k) where k is the length of the string to be searched.
<br>
                Bottlenecks:
                <br>
●The bot cannot correct typos
                <br>
●The code does not output data about the holistic sentiment of the piece you’re typing
                <br>
●Current Implementation Guide — The autocomplete bot has been fully implemented.
                <br>
●The class objects for the data structure have been instantiated from within the code. Inputs are a pre-fix or word you would like to have completed by the algorithm.
<br>
                ●How to use: Call the autocomplete method with the specified inputs and a complete word will be supplied to you on the basis of how commonly it appears in the text and the next letters’ order in the alphabet.

                    </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

    <div class="modal fade" id="Modals_p8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Guide</h4>
			</div>
			<div class="modal-body">
                    <p ●[Context] — For a recent university assignment, I was tasked with creating a task scheduler using priority cues which allows for multitasking and rescheduling.
<br>
                       ●Purpose — To gain practical experience implementing object-oriented solutions using optimal data structures.
<br>
                        ● Discussion — This task scheduler uses priority structures, tuples, and pandas data frames to pull the data and provide an optimal, multi-taskable scheduler.
Points to Note:
                <br>
●This uses a priority queue because all tasks will be built inside the heap in an ordered manner; therefore, we only need to return the current tasks and the next tasks which are the root and the left child of the priority queue.
<br>
                ●This use immutable tuples in order to ensure that the relevant task IDs and priorities are not tampered with as the priority queue schedules the multitasking functionality.
<br>
                ●Every multitasked task calls heapify on the priority queue; therefore, big O(logn operation) will be called multiple times. Leave this code section option.
<br>
                ●How to use: Populate the CSV file with tasks to be executed or write them as lists with the name “tasks” (sample input will be attached below). Execute the Y loop which will give you a theoretical schedule for a full day based on the inputs provided. To use it as your own task scheduler, replace the step “variable” with a time.time counter which receives input from your world time and increment after every minute. Next, delete all print statements within the Y loop except for the task complete, task rescheduled, and mutli-taskable tasks to avoid cluttered output.
<br>
                ●Current Implementation — Fully complete.

                    </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

    <div class="modal fade" id="Modals_p9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Guide</h4>
			</div>
			<div class="modal-body">
                    <p ●[Context] — As an optimization technique for a part of a school assignment, I optimized a path finding algorithm with a raw coded implmenetation of simulated annealing.
                       <br>
                       Bottle necks —
                <br>
                ●The temp depreciation step size must learn to be optimally balanced (which takes manual adjustment or another hill climbing optimization implementation.
                <br>
                ●The python recurion stack size is limited, hence more tha 6 cities to check returns a recursion depth exceeded error.
                    </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End of Project 3 Modals -->






<!-- Youtube Videos -->
    <div class = "card-background">
        <div class = "iframe-container">
            <iframe width="1080" height="640"
            style = "align-content: center;" src="https://www.youtube.com/watch?v=VevRTM3nGps">
            </iframe>
        </div>
    </div>
<!-- EndOf YouTube Videos -->

</body>

            <nav class="navbar navbar-transparent navbar-absolute">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>

					</div>

					<div class="collapse navbar-collapse" id="navigation-example">

						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/home">
									<i class="fa fa-home"></i>
								</a>
							</li>
							<li>
								<a href="/profile">
									<i class="fa fa-user"></i>
								</a>
							</li>
							<li>
								<a href="/projects">
									<i class="fa fa-tasks"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>





	<!--   Core JS Files   -->
	<script src="{% static  'js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static  'js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static  'js/material.min.js' %}"></script>

	<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
	<script src="{% static  'js/moment.min.js' %}"></script>

	<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
	<script src="{% static  'js/nouislider.min.js' %}" type="text/javascript"></script>

	<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
	<script src="{% static  'js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
	<script src="{% static  'js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
	<script src="{% static  'js/bootstrap-tagsinput.js' %}"></script>

	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
	<script src="{% static  'js/jasny-bootstrap.min.js' %}"></script>

	<!--    Plugin For Google Maps   -->
	<script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>




	<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
	<script src="{% static  'js/material-kit.js' %}" type="text/javascript"></script>

</html>
